@model IEnumerable<GameServerCore.MLogic.Account>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ВСЕ ИГРОКИ НА СЕРВЕРЕ</h2>

<div class="users-page">
   

@if (Model != null)
{
    <div class="list-users">
        @foreach (GameServerCore.MLogic.Gamer user in Model)
        {
            <div class="list-users-item">
                <p>@user.Login</p>
                <div class="user-status">
                    <p>@user.GamerStatus</p>
                    <a href="@Url.Action( "Users", "Home", new{id = user.Id}, null)">@(user.GamerStatus.ToString() == "Banned" ? "Разбанить" : "Забанить")</a>
                </div>
            </div>
        }
    </div>
}
            
</div>



